<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Evan Peraza</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/svg+xml">
</head>

<body>
<div class="container py-5">
 <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
     <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
         <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Hello!</h1>
         <h2>My name is Evan, I'm an emerging software engineer.</h2>
         <p class="lead">I started my professional career as a certified Toyota/Lexus technician. Entering the automotive industry,
             I soon moved to a Service Advisor at Lexus of Riverside. While working, I attended Cal State LA for a bachelors degree in
            Computer Science, completed in May 2025 🎓. I'm an avid traveler, hiker, cyclist, runner, reader of manga and comics. Love to eat!
            </p>
     </div>

     <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
         <img class="img-fluid rounded-3 shadow" src="{{ url_for('static', filename='yosemite-bg.jpeg') }}" alt="hiker-in-mountain-yosemite" loading="lazy" style="object-fit: cover; aspect-ratio: 4/5;">
    </div>
        <div class="row py-5">
      <div class="col-md-6">
          <div class="row g-4 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-100 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary-emphasis">Featured Project</strong>
                  <h3 class="mb-0">Blog with Users</h3>
                  <div class="mb-1 text-body-secondary">Full-stack App</div>
                  <p class="card-text mb-auto">A secure, full-stack blog built with Flask, SQLAlchemy, and Bootstrap. It features user authentication for login and registration), hashed password security, commenter profile images via Gravatar, and admin-only routes for management.</p>
                  <a href="https://blog-for-deployment-4lm9.onrender.com/" class="icon-link gap-1 icon-link-hover stretched-link" target="_blank">View Website<svg class="bi" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                  </a>
              </div>
              <div class="col-auto d-none d-lg-block">
                  <img src="{{ url_for('static', filename='register-example.png') }}"
                       aria-label="Placeholder: Register Example"
                       class="bd-placeholder-img"
                       height="250"
                       preserveAspectRatio="xMidYMid slice"
                       role="img"
                       alt="Register Screen"
                       width="200"
                       xmlns="http://www.w3.org/2000/svg">
                      <title>Register</title>
                  <rect width="100%" height="100%" fill="#55595c"></rect>
              </div>
          </div>
      </div>
     <div class="col-md-6">
         <div class="row border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-100 position-relative">
             <div class="col p-4 d-flex flex-column position-static">
                 <strong class="d-inline-block mb-2 text-success-emphasis">Featured Project</strong>
                 <h3 class="mb-0">Cafe & Wifi</h3>
                 <div class="mb-1 text-body-secondary">Web API</div>
                 <p class="card-text mb-auto">A Flask-based RESTful API which allows users to search, add, and update local cafe data. This project uses CRUD operations, Sqlalchemy integration.</p>
                 <a href="https://github.com/Esqrperaza/cafe-api" class="icon-link gap-1 icon-link-hover stretched-link" target="_blank">View Project<svg class="bi" aria-hidden="true"><use xlink:href="#chevron-right"></use>
                 </svg>
                 </a>
             </div>
             <div class="col-auto d-none d-lg-block">
                 <img src="{{ url_for('static', filename='cafeapi-bg.png') }}"
                      aria-label="Placeholder: Cafe API"
                      class="bd-placeholder-img "
                      height="250"
                      preserveAspectRatio="xMidYMid slice"
                      role="img"
                      width="200"
                      xmlns="http://www.w3.org/2000/svg">
                     <title>Cafe API</title>
                     <rect width="100%" height="100%" fill="#55595c">
                     </rect>
             </div>
         </div>
     </div>
            </div>

          <div class="p-5 text-center bg-body-tertiary rounded-3 container">
              <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
              <h1 class="text-body-emphasis">Let's Connect!</h1>
              <p class="col-lg-8 mx-auto fs-5 text-muted">
                I hope this website finds you well. Thank you for taking the time to visit. If there is anything I can do for you, please feel free to contact me.</p>
              <div class="d-inline-flex gap-2 mb-5">
                  <a href="https://www.linkedin.com/in/evan-peraza-790b3434b" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button" target="_blank">
                       <i class="bi bi-linkedin"></i> LinkedIn
                  </a>
                  <a href="mailto:esqrperaza@gmail.com?subject=Hello%20Evan&body=Hi%20Evan,%0A%0A" class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
                    Email Me <i class="bi bi-envelope-open"></i>
                    </a>
              </div>
          </div>
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
              <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Evan P.</span>
          </div>
<!--          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">-->
<!--              <li class="ms-3">-->
<!--                  <a class="text-body-secondary" href="#" aria-label="Instagram">-->
<!--                  <svg class="bi" width="24" height="24" aria-hidden="true">-->
<!--                      <use xlink:href="#instagram"></use>-->
<!--                  </svg>-->
<!--              </a>-->
<!--              </li>-->
<!--              <li class="ms-3">-->
<!--                  <a class="text-body-secondary" href="#" aria-label="Facebook">-->
<!--                      <svg class="bi" width="24" height="24">-->
<!--                          <use xlink:href="#facebook"></use>-->
<!--                          </svg>-->
<!--                  </a>-->
<!--              </li>-->
<!--          </ul>-->
      </footer>
     </div>
</body>


</html>
